
<footer class="footer-area">
    <div class="container">
        <div class="row pt-120 pb-80">
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h6>Sobre Nosotros</h6>
                    <p>
                        Somos una organización interesadaa por el bienestar de los animales, contáctanos para mas información.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-footer-widget">
                    <h6>Links de Utilidad</h6>
                    <div class="row">
                        <ul class="col footer-nav">
                            <li><a href="~/Home/Index">Home</a></li>
                            <li><a href="~/Home/About">Sobre Nosotros</a></li>
                            <li><a href="~/Account/Register">Registrate</a></li>
                        </ul>
                        <ul class="col footer-nav">
                            <li><a href="~/Clientes/Index">Clientes</a></li>
                            <li><a href="~/Mascotas/Index">Mascotas</a></li>
                            <li><a href="~/Citas/Index">Citas</a></li>
                            <li><a href="~/Voluntarios/Index">Voluntarios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4  col-md-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Contáctanos</h6>
                    <ul class="list-contact">
                        <li class="flex-row d-flex">
                            <div class="icon">
                                <span class="lnr lnr-home"></span>
                            </div>
                            <div class="detail">
                                <h4>Quito, Ecuador</h4>
                                <p>
                                   Frente a tribuna de los shyrys
                                </p>
                            </div>
                        </li>
                        <li class="flex-row d-flex">
                            <div class="icon">
                                <span class="lnr lnr-phone-handset"></span>
                            </div>
                            <div class="detail">
                                <h4>1800MASCOTAS</h4>
                                <p>
                                    Atendemos de 8 a 6
                                </p>
                            </div>
                        </li>
                        <li class="flex-row d-flex">
                            <div class="icon">
                                <span class="lnr lnr-envelope"></span>
                            </div>
                            <div class="detail">
                                <h4>info@mascotas.com</h4>
                                <p>
                                   Envianos tus datos a cualquier hora.!!
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-text">
        <div class="container">
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-8 col-sm-6 footer-text m-0 text-white">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> CREADO POR CESAR  <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">UDLA</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-6 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>